.registration {
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;

    background-image: url("../../../doc//imgs/landing.jpg");
    background-size: cover;  
    
    .section-card {
        margin: 130px 10px 0 0;
    }

   
    
}
      
